@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.big__container {
  display: grid;
  grid-template-columns: 308px 2fr;
}

.side__header {
  display: flex;
  margin-left: 28px;
  margin-top: 36px;
}

.side__logo {
  margin-right: 8px;
  width: 37px;
  height: 37px;
}

.side__title {
  font-weight: 600;
  font-size: 26px;
  margin-right: 4px;
}

.side__version {
  margin-top: 18px;
  font-weight: 400;
  color: #838383;
  font-size: 10px;
}

.tabs {
  display: flex;
  flex-direction: column;
  color: #9197b3;
  margin-left: 39px;
  margin-top: 64px;
  font-size: 14px;
  font-weight: 400;
}

.tabs .tab img {
  width: 24px;
  height: 24px;
  padding: 2px;
  margin-right: 14px;
}

.tab {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  width: 231px;
}

.tab p {
  padding: 1px;
}

.tab__customers {
  display: flex;
  background-color: #5932ea;
  color: white;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  padding-right: 8px;
  border-radius: 10px;
  margin-left: -10px;
  width: 250px;
}

.tab img:hover,
.tab p:hover {
  cursor: pointer;
}

.arrow {
  padding: 2px;
  margin-left: auto;
}

.person {
  display: flex;
  margin-left: 28px;
  margin-top: 597px;
  margin-bottom: 76px;
}

.person img {
  width: 42px;
  height: 42px;
  margin-right: 12px;
}

.person__text {
  display: flex;
  flex-direction: column;
}

.person__title {
  font-weight: 400;
  font-size: 14px;
}

.person p {
  font-weight: 400;
  font-size: 12px;
  color: #757575;
}

.main {
  background-color: #fafbff;
}

.main__title {
  margin-top: 41px;
  margin-left: 71px;
  font-weight: 400;
  font-size: 24px;
}

.content {
  background-color: white;
  border-radius: 10px;
  margin-top: 92px;
  margin-left: 71px;
  margin-right: 95px;
  margin-bottom: 258px;
  padding: 28px;
}

.content h1 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 7px;
}

.content .title__search h4 {
  font-weight: 400;
  font-size: 14px;
  color: #16c098;
}

.title__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  position: relative;
  align-items: center;
  padding-left: 8px;
  background-color: #f9fbff;
  border-radius: 6px;
}

input {
  padding-bottom: 10px;
  border: none;
  outline: none;
  width: 205px;
  background-color: #f9fbff;
}

input::placeholder {
  color: #b5b7c0;
  font-weight: 400;
  font-size: 12px;
}

.categories {
  /* display: grid;
  grid-template-columns: repeat(6, 1fr); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  border-bottom: 1px solid #eeeeee;
}

.categories h4 {
  font-weight: 500;
  font-size: 14px;
  color: #b5b7c0;
  margin-bottom: 14px;
  margin-right: 10px;
}

.customers {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  column-gap: 10px;
}

.customers p {
  margin-top: 24px;
  color: #292d32;
}

.customers span {
  margin-top: 24px;
}

.active {
  color: #008767;
  background-color: #16c098;
  padding: 4px 18px;
  border: 1px solid #00b087;
  border-radius: 5px;
}
